.container{
    display: flex;
    padding: 20px;
    align-items: center;
    overflow-x: hidden;
}
.icon-box{
    display: flex;
    background-color: #FFDC92;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.icon-img{
    display: flex;
}
.card-text-box{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100px;
}
.card-text-box span{
    font-size: 0.9em;
}
.card-text-box a{
    text-decoration: none;
    color: black;
}
.card-text-box-side{
    width: 20%;
    align-items: center;
}
.bottom-banner-box-inner a{
    text-decoration: none;
    color: black;
}
@media (max-width: 800px){
    .container{
        padding: 0;
        width: 100%;
    }
    .icon-box{
        width: 0;
        padding: 0;
    }
    .icon-img{
        width: 0;
    }
    .card-text-box b{
        font-size: 12px;
    }
    .card-text-box span{
        font-size: 10px;
    }
    .card-text-box h4{
        font-size: 15px;
    }
}
